CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name
CLOUDINARY_USER_PROFILE_UPLOAD_PRESET=your_profile_upload_preset
CLOUDINARY_SETTINGS_UPLOAD_PRESET=your_settings_upload_preset
CLOUDINARY_RECIPE_UPLOAD_PRESET=your_recipe_upload_preset
USDA_API_KEY=your_usda_api_key
